# Compiled Object files
*.slo
*.lo
*.o
*.obj
[dD]ebug/*
[rR]elease/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main-test
main

# Visual studio user files
*.suo
*.sdf